[Oo]bj
[Bb]in
[Tt]emp
node_modules
frontend
*.user
*.suo
*.[Cc]ache
*.bak
*.log
*.DS_Store
[Tt]est[Rr]esult*
[Tt]humbs.db
_ReSharper.*
*.resharper
Ankh.NoLoad
 
*.7z
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
